{% extends "base.html" %}

{% block title %} Pridať nového hráča {% endblock %}

{% block body %}
<div class="container mt-4">
    <h2 class="text-center">Pridať hráča do kategórie: {{ category_name }}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.category }}
    {{ form.day }}
    {{ form.date }}
    {{ form.time }}

    <h3>Hráči</h3>
    {% for player in form.fields.players.queryset %}
        <label>
            <input type="checkbox" name="players" value="{{ player.id }}">
            {{ player.jersey_number }} - {{ player.first_name }} {{ player.last_name }}
        </label>
        <input type="text" name="absence_reason_{{ player.id }}" placeholder="Dôvod absencie">
        <br>
    {% endfor %}

    <button type="submit">Uložiť tréning</button>
</form>
</div>
{% endblock %}